<h2>Games</h2>

<ul>
  <% games.forEach(function(game) { %>
    <li>
      <a href="<%= "/game/" + game.name %>">
        <%= game.name %>
      </a>

      ----------------

      <a class="delete-link" href="<%= "/game/" + game.name %>">
        Delete
      </a>
    </li>
  <% }) %>
</ul>
