<h2>Create A New Game</h2>

<form action="/games" method="POST">
  <label for="name">Name:</label>
  <input name="name" type="text">

  <label for="description">Description:</label>
  <textarea name="description" cols="30" rows="10"></textarea>

  <input type="submit" value="Make a brand new game!">
</form>
